@media screen and (max-width: 962px) {
    .students {
        display: none;
    }

    .tutorials-section-description {
        text-align: center;
    }

    main > section,
    main > div {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .button-group {
        justify-content: center;
    }

    .hero {
        margin-top: 0 !important;
    }

    .hero-details-section {
        max-width: 100%;
    }

    .profile-section {
        order: 0 !important;
        margin-bottom: 48px;
        padding-top: 32px;
    }

    .hero-title {
        font-size: 1.5rem;
        text-align: center;
        line-height: 32px !important;
    }

    .hero-subtitle {
        text-align: center;
        margin-bottom: 0;
    }

    .hero-description {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }

    .arrow {
        margin-top: 64px;
        width: 75px;
        height: 75px;
        left: 0;
    }

    .circle-sm,
    .circle-md {
        display: none;
    }

    .title {
        font-size: 24px;
        margin: 32px 0 0 0 !important;
        line-height: 1.6;
    }

    .breaker {
        border-radius: 8px;
        width: 100px;
        height: 6px;
        margin-bottom: 32px;
    }

    .skill-box .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    .skill-box {
        height: fit-content;
        padding: 16px 0 0 0;
    }

    .skill-box .icon-box img {
        width: 80%;
        height: 80%;
    }

    .skill-box p {
        font-size: 18px;
        line-height: 1.5;
    }

    .flex-column {
        padding: 0;
    }

    .waves {
        width: 185px;
        right: -38px;
    }

    #tutorials {
        margin-top: 80px;
    }

    #tutorials .title {
        text-align: center;
    }

    #tutorials .breaker {
        margin: auto;
    }

    #tutorials .tutorials-section-description {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 16px;
        text-align: center;
    }

    .tutorials-left {
        text-align: center;
    }

    .tutorials-right {
        margin-top: 64px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .tutorial.card,
    .blog.card {
        padding: 8px;
        min-width: 250px;
        border-radius: 8px;
    }

    .tutorial .thumbnail,
    .blog .thumbnail {
        height: 200px;
        width: 100%;
        border-radius: 4px;
    }

    .tutorial .students-count,
    .blog .students-count {
        font-size: 12px;
        font-weight: 400;
    }

    .tutorial {
        margin-left: 8px !important;
    }

    #about {
        margin: 8rem 2rem;
        border-radius: 16px;
        padding: 32px 8px;
    }

    #about .profile-box {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
    }

    #about h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto 16px auto !important;
        line-height: 1.5;
    }

    #about p,
    a {
        font-size: 18px;
        line-height: 1.5;
    }

    #about .about-description {
        text-align: justify;
    }

    .blog-section-description {
        font-size: 18px !important;
        line-height: 1.5 !important;
    }

    #blog {
        text-align: center;
    }

    #blog .breaker {
        margin-left: auto;
        margin-right: auto;
    }

    #blog .blog-left > .btn {
        margin-bottom: 32px;
    }

    #contact {
        margin: 8rem 32px 64px 32px !important;
        padding: 0 !important;
        text-align: center;
    }

    #contact .title {
        margin-bottom: 32px !important;
    }

    .contact-info {
        padding: 0;
        text-align: right;
    }

    footer h2 {
        font-size: 24px;
        margin-bottom: 0;
        line-height: 1.5;
    }

    footer p {
        font-size: 16px;
    }

    footer ul {
        margin-bottom: 64px !important;
    }

    footer ul li {
        font-size: 16px;
        margin-left: 16px;
    }

    footer .copyright {
        font-weight: 300 !important;
        font-size: 14px !important;
        margin-bottom: 16px !important;
    }
}

@media screen and (min-width: 2560px) {
    .students {
        left: 470px;
        bottom: 120px;
    }
}

@media screen and (max-width: 720px) {
    .comment {
        padding: 13px;
        margin: 15px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .screen-body {
        padding: 2rem 1rem;
    }

    .screen-body-item {
        padding: 0;
    }
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .page-title-group {
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        padding-bottom: 108px;
    }
    nav.menu ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        gap: 32px;
    }

}

@media screen and (max-width: 1024px) {
    nav.menu{
        margin-top: 0;
    }
    .hamburger-menu-button {
        display: block;
    }
    .menu-buttons-wrapper {
        display: none;
    }

    header {
        position: sticky;
        top: 0;
        background: var(--dark-color);
        z-index: 50;
        border-bottom: 3px solid var(--primary-dark-color);
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .hero-section {
        padding-bottom: 64px;
    }

    .tutorial-action-buttons {
        justify-content: center;
    }

    .button {
        font-size: 16px;
        padding: 4px 8px 4px 8px;
        border-radius: 8px;
    }

    .tutorial-attribute {
        border-radius: 16px;
        gap: 8px;
        padding: 8px;
    }

    .tutorial-attribute span {
        font-size: 16px;
    }

    .video-caption {
        font-size: 18px;
    }

    .tutorial-description {
        font-size: 18px;
    }

    .good-or-bad-box.first {
        margin-bottom: 32px;
    }

    .good-bad-section {
        margin-left: 16px;
        margin-right: 16px;
    }

    .tutorial-is-good-for,
    .tutorial-is-bad-for {
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        position: relative !important;
    }

    .tutorial-is-good-for,
    .tutorial-is-bad-for {
        width: 100%;
        height: 148px;
    }

    .tutorial-is-good-for p,
    .tutorial-is-bad-for p {
        max-width: 80%;
        margin: auto;
        font-size: 16px;
    }

    .tutorial-is-good-for-content,
    .tutorial-is-bad-for-content {
        width: 100% !important;
        margin-top: 16px;
        padding: 16px;
        font-size: 16px;
    }

    .tutorial-syllabus-title {
        margin-bottom: 16px;
    }

    .accordion {
        margin: 0;
    }

    .accordion-body li::before {
        position: unset;
        width: 15px;
        height: 15px;
    }

    .accordion-burger-icon {
        width: 16px;
    }

    .accordion-header {
        padding: 0 8px;
        border-radius: 8px;
    }

    .accordion-header .accordion-arrow {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 24px;
        height: 24px;
    }

    .accordion-body {
        border-radius: 8px;
    }

    .accordion-body.active {
        padding: 0 8px;
    }

    .accordion-body li {
        margin-top: 8px;
    }

    .accordion-body li:last-child {
        margin-bottom: 8px;
    }

    .attribute-card {
        padding: 16px 8px;
        margin-bottom: 16px;
    }

    .tutorial-attributes {
        margin-bottom: 64px;
    }

    .attribute-card > .content {
        gap: 16px;
    }

    .tutorial-attribute-thumbnail {
        width: 100px;
    }

    .tutorial-attribute-title {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .tutorial-attribute-description {
        font-size: 16px;
    }

    .attribute-card:last-child {
        margin-top: 8px;
    }

    .tutorial-attributes::after {
        width: 103%;
    }

    #tutorial-tutor {
        flex-direction: column;
        padding: 32px 16px;
    }

    #tutorial-tutor h2 {
        font-size: 32px;
        text-align: center;
    }

    #tutorial-tutor p {
        font-size: 16px;
        text-align: center;
        margin-left: unset;
        padding: 0 16px;
    }

    .tutorial-tutor-button-group {
        justify-content: center;
    }

    .tutorial-tutor-button-group > button > svg {
        max-width: 16px;
    }

    #tutorial-overview {
        flex-direction: column;
        padding: 16px;
    }

    #tutorial-overview .tutorial-poster {
        z-index: 2;
    }

    .tutorial-overview-title {
        text-align: center;
        margin-bottom: 16px;
    }

    .tutorial-overview-description {
        font-size: 16px;
    }

    #tutorial-overview .attributes-wrapper {
        column-gap: 16px;
        flex-direction: column;
    }

    #tutorial-overview .attributes:last-child {
        margin-top: unset;
    }

    #tutorial-overview .attributes li {
        font-size: 16px;
    }

    #tutorial-overview .attributes li::before {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        top: 0;
    }

    #tutorial-overview button {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        z-index: 2;
    }

    #tutorial-overview .arrow-down {
        height: 64px;
        margin-bottom: 32px;
    }

    #tutorial-overview button svg {
        width: 24px;
    }

    footer {
        padding: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    nav.menu{
        width: 100%;
        overflow: hidden;
    }
    nav.menu .main-menu-items-wrapper img{
        height: 32px !important;
    }

    #about {
        border-radius: 0;
        margin: 4rem 0 !important;
        border: 0 !important;
        padding-bottom: 0 !important;
    }

    .students {
        display: none;
    }

    .container-404 .btn {
        margin-top: 16px !important;
        font-size: 16px !important;
        padding: 4px 8px !important;
    }

    .post-card-header h1 {
        font-size: 24px;
    }

    .post-card-header .post-tag {
        margin-bottom: 24px;
    }

    .post-card-body {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .post-comments {
        padding: 8px;
    }

    .comment-form {
        padding: 34px 15px 0 15px;
        font-size: 16px;
        line-height: 25px;
    }

    .comment-form label {
        font-size: 18px;
    }

    .comment-form button {
        font-size: 16px;
        margin-right: 16px;
    }

    .comment-form input,
    textarea {
        margin: 0 10px 0 0;
        width: 100%;
    }

    .comment-form form {
        width: 100%;
    }

    .comment-form .btn {
        margin-left: unset;
    }

    .comment_date {
        display: none;
    }

    .comments {
        margin: 0 5px;
    }

    .comment {
        padding: 13px;
        margin: 15px 0 0 0;
        width: 100%;
    }

    .comment-icon {
        display: none;
    }

    .social-icons{
        justify-content: center;
    }
    footer .title{
        margin: 0 0 1rem 0 !important;
    }
}