body {
    direction: rtl;
    text-align: right;
}

label {
    text-align: right !important;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.8rem;
}

.sidebar .nav-item .collapse {
    right: calc(6.5rem + 1.5rem / 2);
}

.sidebar .nav-item .collapse-inner {
    background-color: #4e73df;
}

@media (min-width: 576px) {

    .topbar .dropdown .dropdown-menu {
        width: auto;
        right: auto;
        left: 0;
    }
}

@media (min-width: 768px) {

    .sidebar .nav-item .collapse {
        right: 0;
    }

    .sidebar .nav-item .collapse-inner {
        background-color: rgba(0, 0, 0, 0.15);
    }

    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
        margin: 0;
    }

    .sidebar .nav-item .collapse .collapse-inner,
    .sidebar .nav-item .collapsing .collapse-inner {
        padding: 0;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
        float: left;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
        content: '\f104';
    }

    .sidebar .nav-item .nav-link {
        text-align: right;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
    }

    .sidebar .nav-item .nav-link i {
        margin-right: 0;
        margin-left: 0.25rem;
    }

    .sidebar .nav-item .collapse .collapse-inner .collapse-item,
    .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
        padding: 0.75rem 2.5rem;
    }
}

.sidebar-dark .nav-item .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link i {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #fff;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    margin: 0;
    color: #fff;
    border-radius: 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

#userDropdown {
    height: 2.875rem;
}

#userDropdown:hover,
#userDropdown:active,
#userDropdown:focus {
    background-color: #eaecf4;
}

#userDropdown::after {
    width: auto;
    margin-left: 0;
    margin-right: 0.4em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: #858796;
}

footer.sticky-footer {
    position: sticky;
}

#wrapper #content-wrapper {
    position: relative;
    min-height: 100vh;
}

.rounded-top-left-1 {
    border-top-left-radius: 1rem;
}

.rounded-top-right-1 {
    border-top-right-radius: 1rem;
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: 1rem;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: 1rem;
}

@media only screen and (max-width: 767.5px) {
    .rounded-top-left-1 {
        border-top-left-radius: 0rem;
    }

    .rounded-top-right-1 {
        border-top-right-radius: 0rem;
    }

    .rounded-bottom-left-1 {
        border-bottom-left-radius: 0rem;
    }

    .rounded-bottom-right-1 {
        border-bottom-right-radius: 0rem;
    }
}

#wrapper {
    max-width: 2000px;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    content: '\f104';
    float: left;
    transition: 0.2s ease;
}

.sidebar .nav-item.dropdown .dropdown-toggle[aria-expanded=true]::after,
.topbar .nav-item.dropdown .dropdown-toggle[aria-expanded=true]::after {
    float: left;
    transition: 0.2s ease;
    transform: rotate(-90deg);
}

.custom-table-hover tr:hover {
    background-color: rgb(227, 230, 240);
}

@charset "UTF-8";

body {
    min-height: 100vh;
    font-family: "Vazirmatn FD", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    background-color: #f5f5f5;
}

.signin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mw-912 {
    max-width: 912px;
}

.table-clickable a {
    display: block;

    padding: 1rem 0.5rem;

    color: var(--bs-body-color);
    text-decoration: none;
}

.table-clickable td,
.table-clickable th[scope="row"] {
    padding-top: 0px;
    padding-bottom: 0px;
}

.table-clickable tbody tr:hover {
    box-shadow: inset -3px 0 0 var(--bs-primary);

    background-color: var(--bs-gray-300);
}

.main-container {
    min-height: calc(100vh - 56px);
}

#navMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -280px;
    width: 280px;
    max-width: 80%;
    z-index: 2;
    transition: right 200ms ease-out;
}

#navMenu.show {
    right: 0;
}

#navMenu .sticky-top {
    max-height: 100vh;
    overflow: auto;
}

#navMenu .nav-link {
    display: flex;
    align-items: center;
    padding: 16px;
}

#navMenu .nav-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.08);
}

#menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
}

.bg-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: opacity 200ms ease-in-out;
}

.bg-overlay.show {
    opacity: 1;
    pointer-events: initial;
}

.top-app-bar {
    height: 56px;
}

.btn-w-icon {
    display: flex;
    align-items: center;

    font-weight: 600;
}

#expandableList {
    height: 0;
    overflow-y: hidden;
    transition: height 200ms;
}

#expandableList li {
    border-top: none;
}

#listExpander {
    border-top: none;
}

#listExpander i {
    font-size: 0.75rem;
}

@media (min-width: 856px) {

    .main-container {
        min-height: 100vh;
    }

    #navMenu {
        position: static;
        width: 280px;
    }

    .top-app-bar {
        display: none;
    }
}

.form-control {
    padding: 0.6875rem 0.75rem;
    border: var(--bs-border-width) solid var(--bs-gray-500);
}

.form-check-group {
    max-height: 172px;
    overflow-y: auto;
    border: 1px solid var(--bs-gray-300);
    border-radius: 0.5rem;
}

.form-check.form-check-label {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0.5rem 2.25rem 0.5rem 0.5rem;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    user-select: none;
}

.form-check.form-check-label:hover {
    background-color: var(--bs-gray-200);
}

.form-check-input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0;
    margin-left: 0.5em;
    border: 2px solid var(--bs-gray-400);
    cursor: pointer;
}

.form-switch.form-check-label {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.form-switch .form-check-input {
    width: 2.5em;
    height: 1.5em;
}

#pswConfirm {
    outline: 4px solid var(--bs-gray-300);
    outline-offset: 0.25rem;
    border-radius: 0.125rem;
}

.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 25%);
    transition-duration: 200ms;
    transition-property: transform, visibility, opacity;
    pointer-events: none;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.modal-header {
    padding-bottom: 0;
    border-bottom: none;
}

.modal-footer {
    padding-top: 0;
    border-top: none;
}

.page-item.disabled {
    display: none;
}

.page-item.page-etc {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
}

.list-group-item {
    background-color: unset !important;
}

input[type=checkbox].status-checkbox:checked~span.strikethrough {
    text-decoration: line-through;
    color: gray;
}