* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #7C96F7;
    --primary-dark-color: #6C63FF;
    --secondary-color: #FFBA08;
    --secondary-light-color: #FEDB80;
    --dark-color: #121212;
    --semi-dark-color: #323230;
    --smoky-white-color: #f0f0f0;
    --white-color: #fafafa;
    --pure-white: #ffffff;
    /* BS5.3.2 */
    --bs-primary-rgb: 105, 97, 255;
}

a {
    color: inherit !important;
    text-decoration: unset !important;
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

body {
    direction: rtl !important;
    font-family: "Vazirmatn FD" !important;
}

main {
    overflow-x: hidden;
}

p {
    line-height: 1.9;
}

.white {
    filter: grayscale(100%) invert(100%);
}

/* Header */
header {
    padding: 0px 32px 0px 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 64px;
    font-size: 24px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: none;
}

nav a {
    text-decoration: none;
    color: var(--white-color) !important;
}

.bg-light nav a {
    color: var(--dark-color) !important;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

nav a:hover {
    color: #6c63ff;
}

/* End Header */

.d-inline-block {
    display: inline-block;
}

.row {
    flex-direction: row;
}

.float-left {
    float: left !important;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.breaker {
    background: var(--primary-dark-color);
    box-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    border-radius: 16px;
    width: 200px;
    height: 10px;
    margin-bottom: 48px;
}

.my-text-primary {
    color: var(--primary-color) !important;
}

.my-text-orange {
    color: var(--secondary-color) !important;
}

.icon:hover {
    color: var(--primary-dark-color);
}

.icon {
    padding: 8px;
    margin: 0px;
    font-size: 28px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.m-0 {
    margin: 0px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.p-relative {
    position: relative;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.menu-account-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 41px;
    top: 41px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--dark-color);
    padding-left: 1px;
    padding-top: 1px;
}

main.container-404 {
    margin: 0px;
}

main>section,
main>div {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.hero {
    flex-direction: row;
    justify-content: space-between;
}

.button-group {
    margin-top: 32px;
    column-gap: 16px;
}

.hero-details-section {
    max-width: min(50%, 800px);
}

.hero-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    text-align: right;
    color: var(--white-color);
}

.hero-title {
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 100px !important;
    text-align: right;
    color: var(--primary-dark-color);
    text-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    margin-bottom: 16px;
}

.hero-title span {
    color: var(--secondary-color)
}

.hero-description {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    text-align: right;
    color: var(--white-color);
}

img.profile {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
}

.my-bg-primary {
    background-color: var(--primary-color);
}

.bg-orange {
    background-color: var(--secondary-color);
}

.circle-sm {
    width: 52px;
    height: 52px;
}

.circle-md {
    width: 89px;
    height: 89px;
}

.rounded-circle {
    border-radius: 50%;
}

.profile-section {
    order: 2;
    position: relative;
    filter: drop-shadow(2px 4px 32px rgba(107, 99, 255, 0.205));
}

.profile-section div {
    position: absolute
}

.profile-section div.left-top {
    top: 30px;
    left: 90px;
    z-index: -1;
}

.profile-section div.right-top {
    top: 74px;
    right: 95px;
    z-index: -1;
}

.profile-section div.right-bottom {
    bottom: -15px;
    right: 95px;
    z-index: -1;
}

.arrow {
    width: 130px;
    height: 130px;
    position: relative;
    left: 100px;
    bottom: 32px;
    transform: rotate(156.62deg);
    margin-bottom: 64px;
}

.students {
    position: absolute !important;
    background-color: var(--white-color);
    width: 235.77px !important;
    height: 146px;
    padding: 22px;
    border-radius: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 57px;
    bottom: 64px;
    z-index: 1;
}

.students p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 16px;
}

.students span {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-right: 16px;
}

.student-profiles {
    display: grid;
    grid-template-columns: repeat(5, 28px) !important;
}

.students .student-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}



.title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 75px;
    color: var(--white-color);
    text-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Skills */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skill-box {
    border-width: 8px 8px 16px 8px;
    border-style: solid;
    border-color: #323030;
    border-radius: 32px;
    height: 250px;
    background-color: var(--white-color);
    display: flex;
    padding: 43px 0px 43px 0px;
    aspect-ratio: 1/1;
}

.skills-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills-box>div {
    justify-content: center;
    align-items: center;
}

.skill-box .icon-box {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-light-color);
    border-radius: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box .icon-box img {
    width: 80px;
    height: 80px;
}

.skill-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--semi-dark-color);
}

.waves {
    position: absolute;
    right: 0px;
    bottom: -120px;
    z-index: -1;
}

/* Tutorials */
#tutorials {
    margin-top: 274px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tutorials-right,
.blog-right {
    max-width: max(50%, 800px);
    gap: 16px;
}

#tutorials .tutorials-section-description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: right;
    color: var(--white-color);
    margin-bottom: 24px;
}

.tutorial.card,
.blog.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    min-width: 322px;
    max-width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -8px rgba(50, 48, 48, 0.16);
    border-radius: 16px;
}

.tutorial .thumbnail,
.blog .thumbnail {
    border-radius: 8px;
    width: 100%;
    max-height: 290px;
}

.post-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--semi-dark-color);
    margin-top: 16px;
    margin-bottom: 16px;
}

.tutorial .post-meta,
.blog .post-meta {
    justify-content: space-between;
    width: 100%;
}

.tutorial .students-count,
.blog .students-count {
    color: #4d4d4f;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.tutorial .students-count i,
.blog .students-count i {
    margin-left: 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
    height: 400px;
}

.column img {
    background-color: var(--smoky-white-color);
    margin-top: 8px;
    vertical-align: middle;
    min-width: 100%;
    min-height: 200px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.shadow-on-box {
    position: absolute;
    width: 1344px;
    height: 186px;
    left: 47px;
    bottom: -24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0 0 0) 100%);
    filter: blur(16px);
}

/* About */
#about {
    margin: 14rem 2rem;
    padding: 64px 10% !important;
    color: var(--smoky-white-color);
    text-align: center;
    border-radius: 16px;
}

.profile-box {
    width: 306px;
    height: 306px;
    display: block;
    background: var(--primary-color);
    box-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-bottom: 55px;
}

.profile-box img {
    max-width: 306px;
    max-height: 306px;
    border-radius: 46%;
}

#about h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 75px;
    margin-bottom: 42px;
}

#about p {
    max-width: 700px !important;
    margin-left: auto;
    margin-right: auto;
}

#about p,
a {
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 36px;
}

#about a {
    display: block;
    margin-top: 32px;
    padding-bottom: 8px;
    border-bottom: 2px dotted var(--primary-color);
    width: fit-content;
}

#blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blog .blog-section-description {
    color: var(--white-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 22px;
}

/* Contact */
#contact {
    margin-top: 8rem;
    margin-bottom: 2rem;
    border-radius: 16px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
    padding: 2rem;
}

#contact h2 {
    margin-bottom: 64px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input {
    font-weight: 700;
    font-family: inherit;
}

.background {
    display: flex;
}

.container {
    flex: 0 1 900px;
    margin: 4rem auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-right {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--white-color);
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--secondary-color);
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
    margin-bottom: 1rem;
}

.app-form-group.buttons {
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button:hover {
    color: var(--secondary-light-color);
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.contact-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--smoky-white-color);
    font-size: 1rem;
}

address {
    font-size: 0.85rem;
    font-style: normal;
}

.email-link {
    font-size: 0.85rem;
    color: #808080;
}

.send-icon {
    height: 20px;
    margin-left: 16px;
}

footer {
    padding-right: 64px;
    text-align: right;
    color: var(--white-color);
}

.bg-dark footer {
    color: var(--white-color) !important;
}

footer h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 75px;
    margin-bottom: 16px;
}

footer p {
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 48px;
}

footer ul {
    list-style: none;
    margin-bottom: 117px;
}

footer ul li {
    font-weight: 400;
    font-size: 26px;
    line-height: 41px;
    display: inline-block;
    margin-left: 32px;
}

footer p.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 64px;
    text-align: center;
}

.copyright {
    font-size: inherit !important;
}

.container-404 {
    background-color: var(--dark-color);
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-404 img {
    width: 400px;
}

.container-404 h1 {
    margin-top: 48px;
    color: var(--light, #FAFAFA);
    text-align: center;
}

.container-404 p {
    margin-top: 16px;
    color: var(--light, #FAFAFA);
    text-align: center;
}

.container-404 .btn {
    margin-top: 32px;
}

.post-comments-list-wrapper {
    margin-top: 32px;
}

.post-card {
    margin-top: 96px;
}

.post-card-header {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--primary-color);
    padding: 16px;
}

.post-card-header h1 {
    color: var(--white-color);
    text-align: right;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 32px;
}

.post-card-header .post-tag {
    margin-left: 8px;
    border-radius: 8px;
    background-color: var(--secondary-light-color);
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-color);
    padding: 8px 16px;
    margin-bottom: 71px;
}

.post-card-body {
    color: var(--dark-color);
    text-align: right;
    font-size: 24px;
    line-height: 1.6;
    padding: 16px;
    background-color: var(--white-color);
    margin-bottom: 194px;
    border-radius: 0px 0px 16px 16px;
}

.post-content {
    margin-bottom: 32px;
}

.post-comments {
    padding: 32px;
    border-radius: 16px;
    background: var(--primary-color);
}

.comment-form label {
    color: #FFF;
    text-align: right;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.comment-form input,
.comment-form textarea {
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    outline: 0px;
    padding: 8px 16px;
}

.comment-form input {
    min-height: 42px;
}

.comment-form textarea {
    min-height: 204px;
    width: 100%;
}

.comment-form button {
    display: inline-block;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--secondary-light-color);
    border: 0px;
    width: fit-content;
    margin-top: 16px;
    color: var(--dark-color);
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.comment-form input:active,
.comment-form textarea:active,
.comment-form input:focus,
.comment-form textarea:focus {
    outline: 4px solid var(--primary-dark-color)
}

.comment-form button:hover {
    background-color: var(--secondary-color);
}

.comments_list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.comment {
    transition: display 0.5s;
    max-width: 456px;
    min-width: 256px;
    background-color: var(--smoke_white);
    background-color: var(--white-color);
    box-shadow: 0px 4px 30px rgb(204 204 204 / 70%);
    border-radius: 10px;
    padding: 13px 20px;
    margin: 15px 25px 0px 25px;
    position: relative;
}

.user_avatar {
    width: 44px !important;
    height: 44px;
    border-radius: 50%;
}

.comment_title {
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: var(--dark80);
    max-width: none;
}

.comment_date {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: #DBDBDB;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: var(--white);
}

.comment_text p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-align: right;
    margin: revert;
}

.comments_list ul li:nth-child(even) {
    align-self: flex-end;
}

.reply {
    width: 456px;
    min-width: unset;
    margin: 0px;
}

aside .widget {
    box-shadow: 0px 4px 16px 0px rgba(75, 73, 73, 0.16);
    border-radius: 16px;
    background-color: var(--white-color);
    margin-bottom: 32px;
}

.widget-title {
    padding: 22px 15px;
    background-color: var(--primary-color);
    border-radius: 16px 16px 0px 0px;
    font-weight: bold;
    font-size: 27px;
    color: var(--white-color);
}

.widget-title h2 {
    margin-bottom: 0px;
}

.widget-body {
    padding: 15px !important;
}

ul.recent-blog-posts-widget li {
    margin-bottom: 16px;
}

.recent-blog-posts-widget img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    background-color: var(--primary-dark-color);
    margin-left: 8px;
}

.recent-blog-posts-widget h4 {
    color: #4B4949;
    text-align: right;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.widget .badge {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #DBDBDB;
    display: inline-block;
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
}

.widget-body ul {
    list-style: none;
    padding: 0px;
}

.widget-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.recent-comments-widget li {
    margin-bottom: 16px;
}

.recent-comments-widget .d-flex {
    gap: 8px !important;
}

.recent-comments-widget img {
    width: 50px;
    height: 50px;
    background-color: var(--primary-dark-color);
}

.recent-comments-widget p {
    width: 100%;
    color: #4B4949;
    text-align: right;
    font-size: 18px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0px;
}

/* Responsive Design */

/** 1. Samall Mobiles **/
@media screen and (max-width: 1000px) {
    .tutorials-section-description {
        text-align: center;
    }

    main>section,
    main>div {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .button-group {
        justify-content: center;
    }

    .hero {
        margin-top: 0px !important;
    }

    .hero-details-section {
        max-width: 100%;
    }

    .profile-section {
        order: 0 !important;
        margin-bottom: 48px;
        padding-top: 64px;
    }

    .hero-title {
        font-size: 1.5rem;
        text-align: center;
        line-height: 32px !important;
    }

    .hero-subtitle {
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-description {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .arrow {
        margin-top: 64px;
        width: 75px;
        height: 75px;
        left: 0px;
    }

    .circle-sm,
    .circle-md {
        display: none;
    }

    .title {
        font-size: 24px;
        margin: 32px 0px 0px 0px !important;
        line-height: 1.6;
    }

    .breaker {
        border-radius: 8px;
        width: 100px;
        height: 6px;
        margin-bottom: 32px;
    }

    .skill-box .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    .skill-box {
        height: fit-content;
        padding: 16px 0px 0px 0px;
    }

    .skill-box .icon-box img {
        width: 80%;
        height: 80%;
    }

    .skill-box p {
        font-size: 14px;
        line-height: 1.5;
    }

    .flex-column {
        padding: 0px;
    }

    .waves {
        width: 185px;
        right: -38px;
    }

    #tutorials {
        margin-top: 80px;
    }

    #tutorials .title {
        text-align: center;
    }

    #tutorials .breaker {
        margin: auto;
    }

    #tutorials .tutorials-section-description {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 16px;
        text-align: center;
    }

    .tutorials-left {
        text-align: center;
    }

    .tutorials-right {
        margin-top: 64px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .tutorial.card,
    .blog.card {
        padding: 8px;
        min-width: 250px;
        border-radius: 8px;
    }

    .tutorial .thumbnail,
    .blog .thumbnail {
        height: 200px;
        width: 100%;
        border-radius: 4px;
    }

    .tutorial .students-count,
    .blog .students-count {
        font-size: 12px;
        font-weight: 400;
    }

    .tutorial {
        margin-left: 8px !important;
    }

    #about {
        margin: 8rem 2rem;
        border-radius: 16px;
        padding: 32px 8px;
    }

    #about .profile-box {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
    }

    #about h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 0px auto 16px auto !important;
        line-height: 1.5;
    }

    #about p,
    a {
        font-size: 14px;
        line-height: 1.5;
    }

    .blog-section-description {
        font-size: 18px !important;
        line-height: 1.5 !important;
    }

    #blog {
        text-align: center;
    }

    #blog .breaker {
        margin-left: auto;
        margin-right: auto;
    }

    #blog .blog-left>.btn {
        margin-bottom: 32px;
    }

    #contact {
        margin: 8rem 32px 64px 32px !important;
        padding: 0px !important;
        text-align: center;
    }

    #contact .title {
        margin-bottom: 32px !important;
    }

    .contact-info {
        padding: 0px;
    }

    footer h2 {
        font-size: 24px;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    footer p {
        font-size: 16px;
    }

    footer ul {
        margin-bottom: 64px !important;
    }

    footer ul li {
        font-size: 16px;
        margin-left: 16px;
    }

    footer .copyright {
        font-weight: 300 !important;
        font-size: 14px !important;
        margin-bottom: 16px !important;
    }
}

@media screen and (min-width:2560px) {
    .students {
        left: 470px;
        bottom: 120px;
    }
}

@media screen and (max-width: 480px) {
    #about {
        border-radius: 0px;
        margin: 8rem 0px !important;
        border: 0px !important;
    }

    .students {
        transform: scale(0.5);
        left: -20px;
        top: 150px;
        bottom: unset;
    }

    .container-404 .btn {
        margin-top: 16px !important;
        font-size: 16px !important;
        padding: 4px 8px !important;
    }

    .post-card-header h1 {
        font-size: 24px;
    }

    .post-card-header .post-tag {
        margin-bottom: 24px;
    }

    .post-card-body {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .post-comments {
        padding: 8px;
    }

    .comment-form {
        padding: 34px 15px 0px 15px;
        font-size: 16px;
        line-height: 25px;
    }

    .comment-form label {
        font-size: 18px;
    }

    .comment-form button {
        font-size: 16px;
        margin-right: 16px;
    }

    .comment-form input,
    textarea {
        margin: 0 10px 0 0;
        width: 100%;
    }

    .comment-form form {
        width: 100%;
    }

    .comment-form .btn {
        margin-left: unset;
    }

    .comment_date {
        display: none;
    }

    .comments {
        margin: 0px 5px;
    }

    .comment {
        padding: 13px;
        margin: 15px 0px 0px 0px;
        width: 100%;
    }

    .reply {
        width: auto;
    }

    .comment-icon {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .comment {
        padding: 13px;
        margin: 15px 0px 0px 0px;
        width: 100%;
    }
}

/* Add numbers to pagination buttons by CSS */
.splide__pagination {
    counter-reset: pagination-num;
}

.splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter(pagination-num);
}

.button-purple {
    color: #fff;
    background-color: #7c96f7;
}

nav a:hover {
    color: #6c63ff;
}

.button-group {
    display: flex;
    gap: 8px;
    height: 54px;

}

.button-outline-purple {
    color: #7c96f7;
    border: 2px solid #7c96f7;
    background-color: rgba(0, 0, 0, 0);
}

.page-path {
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.page-title {
    color: var(--purple, #6C63FF);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.page-title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}


.my-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
    max-width: 322px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0px 0px 32px -8px rgba(50, 48, 48, 0.16);
    width: 322px;
    background-color: var(--white-color);
}

.my-card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.my-card-title {
    font-size: 20px;
    margin-top: 16px;
}

.my-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-count {
    display: flex;
    align-items: center;
    gap: 4px;
}

.my-card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px 32px;
    justify-content: center;
}

@media only screen and (min-width:576px) {

    header {
        padding-bottom: 86px;
    }

    .page-title-group {
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width:768px) {
    header {
        padding-bottom: 108px;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        gap: 32px;
    }

    .hamburger-menu {
        display: none;
    }

}

.btn-w-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.bg-dark .nav-item,
.bg-light footer {
    color: var(--white-color);
}

.bg-light .nav-item,
.bg-light footer {
    color: var(--dark-color);
}


/* Tutorial page */
.hero-section {
    width: 100%;
    background-image: radial-gradient(444.15% 108.64% at 3.61% 95.92%, rgba(0, 0, 0, 0.81) 0%, #121212 100%);
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 114px;
    border-radius: 0 0 0 64px;

}

.breadcrumb {
    color: #F5F5F5;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 65px;
}

.tutorial-title {
    color: var(--pure-white);
    text-align: right;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
}

.tutorial-short-description {
    color: #D6D6D6;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 41px;
}

.tutorial-action-buttons {
    gap: 8px;
}

.button {
    border-radius: 16px;
    display: flex;
    padding: 8px 15.5px 8px 16.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: unset;
    outline: unset;
    transition-property: background-color, border;
    transition-duration: .7s;
}

.button-secondary {
    color: #323030;
    background-color: var(--secondary-light-color);
}

.button-secondary:hover {
    background-color: var(--secondary-color);
}

.button-outline-secondary {
    color: var(--secondary-light-color);
    background-color: transparent;
    border: 1px solid var(--secondary-light-color);
}

.button-outline-secondary:hover {
    border-color: var(--secondary-color);
}

.tutorial-attributes-section {
    gap: 16px;
}

.tutorial-attribute {
    border-radius: 24px;
    background: linear-gradient(270deg, rgba(254, 219, 128, 0.32) 0%, rgba(254, 219, 128, 0.80) 100%);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 20px 20px;
    user-select: none;
}

.tutorial-attribute img {
    width: 50px;
}

.tutorial-attribute span {
    color: var(--dark-color);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tutorial-content {
    margin-top: 79px;
    margin-bottom: 280px;
}

.video-player-container {
    margin: auto;
    position: relative;
    width: 80%;
    max-width: 1200px;
}

.video-player-container img {
    width: 100%;
}

.video-player {
    position: absolute;
    width: 69%;
    height: 82%;
    left: 15.5%;
    background: #000;
    top: 6.5%;
}

.video-caption {
    margin-top: 8px;
    color: var(--dark-color, #000);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-tutorial-title {
    color: var(--dark-color);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tutorial-description {
    margin-top: 32px;
    color: var(--dark-color);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 256px;
}

.tutorial-is-good-for,
.tutorial-is-bad-for {
    position: absolute;
    z-index: 2;
}

.tutorial-is-bad-for {
    position: absolute !important;
    left: 0px;
}

.tutorial-is-good-for,
.tutorial-is-bad-for {
    border-radius: 16px;
    background: var(--white-color, #FAFAFA);
    box-shadow: 0px 0px 30px 0px rgba(41, 41, 41, 0.20);
    width: 277px;
    height: 277px;
    flex-shrink: 0;
}

.tutorial-is-good-for {
    position: absolute;
    bottom: 64px;
    right: 0px;
}

.tutorial-is-bad-for {
    position: absolute;
    bottom: 64px;
}

.tutorial-is-good-for p,
.tutorial-is-bad-for p {
    color: var(--dark-color, #323030);
    text-align: right;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    max-width: 190px;
}

.tutorial-is-good-for p {
    top: 79px;
    right: 32px;
    left: 57px;
    bottom: 60px;
}

.tutorial-is-bad-for p {
    top: 79px;
    right: 32px;
    left: 55px;
    bottom: 57px;
}

.tutorial-is-good-for .thumbs-up {
    width: 92.628px;
    height: 79.031px;
    transform: rotate(-13.967deg);
    flex-shrink: 0;
    position: absolute;
    left: 11px;
    top: 10px;
}

.tutorial-is-bad-for .thumbs-down {
    width: 92.628px;
    height: 79.031px;
    flex-shrink: 0;
    position: absolute;
    left: 16.94px;
    top: 15.91px;
}

.good-or-bad-box.first {
    margin-bottom: 208px;
    position: relative;
}

.good-or-bad-box.last {
    margin-bottom: 104px;
    position: relative;
}

.tutorial-is-good-for-content {
    margin-top: -100px;
    width: calc(100% - 140px) !important;
    margin-right: auto;
}

.tutorial-is-good-for-content p {
    margin-right: auto;
    width: fit-content;
}

.tutorial-is-good-for-content,
.tutorial-is-bad-for-content {
    color: var(--semi-dark-color, #323030);
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 190%;
    border-radius: 16px;
    background: var(--light, #FAFAFA);
    box-shadow: 0px 0px 30px 0px rgba(41, 41, 41, 0.20);
    padding: 44px 0 43px 51px;
    width: 100%;
}

.tutorial-is-bad-for-content {
    padding: 44px 44px 44px 185px;
    width: calc(100% - 140px) !important;
    margin-left: auto;
}

.good-bad-section {
    margin-left: 32px;
    margin-right: 32px;
}

.tutorial-syllabus-title {
    color: var(--primary-dark-color);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 104px;
    margin-bottom: 64px;
    text-align: center;
}

.accordion {
    display: block;
    margin: 0 80px;
}

.accordion-header {
    padding: 0px 32px;
    border-radius: 16px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-header.active {
    background: var(--semi-dark-color);
}

.accordion-burger-icon {
    margin-left: 8px;
}

.accordion-title {
    margin-bottom: 0px;
    color: #323030;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accordion-header.active .accordion-title {
    color: var(--pure-white);
}

.accordion-header .accordion-arrow {
    margin-top: 16px;
    margin-bottom: 16px;
    transition: transform .3s ease-in-out;
}

.accordion-header.active .accordion-arrow {
    transform: rotate(180deg);
}

.accordion-body {
    margin-top: 16px;
    padding: 0px;
    border-radius: 16px;
    background: #E8E8E8;
    margin-bottom: 16px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition-property: padding, max-height, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.accordion-body.active {
    padding: 0 73px 0 32px;
    opacity: 1;
    max-height: max-content;
}

.accordion-body li {
    position: relative;
    margin-top: 16px;
}

.accordion-body li:last-child {
    margin-bottom: 16px;
}

.accordion-body li::before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -40px;
    top: 13px;
    background-color: #979797;
}

.accordion-body li:not(:last-child)::after {
    content: '';
    width: 4px;
    height: 42px;
    background-color: #979797;
    position: absolute;
    right: -30px;
    top: 38px;
}

.accordion .lesson-counter-label {
    color: #323030;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
}

.accordion .lesson-title {
    color: #323030;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accordion .lesson-duration {
    color: #323030;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.tutorial-attributes {
    margin-top: 160px;
    margin-bottom: 160px;
    background-color: #323030;
    position: relative;
    padding-bottom: 88px;
}

.tutorial-attributes::before {
    content: "";
    background-color: #323030;
    height: 150px;
    width: 103%;
    transform: rotate(-3.65deg);
    position: absolute;
    top: -43px;
    right: -7px;
    z-index: -1;
}

.tutorial-attributes::after {
    content: "";
    background-color: #323030;
    height: 150px;
    width: 100%;
    transform: rotate(-3.65deg);
    position: absolute;
    bottom: -43px;
    left: -6px;
    z-index: -1;
}

.tutorial-attributes-title {
    color: var(--secondary-light-color);
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 69px;
    margin-top: 32px;
}

.attribute-card {
    padding: 32px 16px;
    border-radius: 32px;
    background: #E8E8E8;
    position: relative;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.attribute-card:not(:last-child) {
    margin-bottom: 24px;
}

.attribute-card>.content {
    display: flex;
    max-width: 799px;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.attribute-card:hover>.content {
    transform: translateZ(12px);
}

.tutorial-attribute-title {
    color: var(--primary-color);
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.tutorial-attribute-description {
    color: var(--dark-color);
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tutorial-attribute-thumbnail {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.h-100 {
    height: 100%;
}

#tutorial-tutor {
    padding: 88px 64px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    column-gap: 32px;
}

#tutorial-tutor h2 {
    color: var(--primary-dark-color);
    text-align: right;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#tutorial-tutor p {
    color: var(--dark-color);
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
    margin-bottom: 32px;
}

.tutor-profile {
    width: 320px;
    max-width: 80%;
    margin: auto;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}

#tutorial-overview {
    margin-top: 88px;
    padding: 88px 88px;
    background-color: #323030;
    display: flex;
    position: relative;
}

#tutorial-overview .tutorial-poster {
    width: 469px;
    max-width: 100%;
    height: auto;
}

.tutorial-overview-title {
    color: var(--secondary-light-color);
    text-align: right;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 27px;
}

.tutorial-overview-description {
    color: #D6D6D6;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#tutorial-overview .attributes-wrapper {
    column-gap: 42px;
    margin-top: 16px;
}

#tutorial-overview .attributes:last-child {
    margin-top: 64px;
}

#tutorial-overview .attributes li {
    color: #D6D6D6;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

#tutorial-overview .attributes li::before {
    content: "";
    background-image: url("../icons/tick.svg");
    background-size: 72px 72px;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    position: relative;
    top: 8px;
}

#tutorial-overview .arrow-down {
    transform: rotate(-175.026deg);
    margin-right: 64px;
}

#tutorial-overview button {
    margin-right: 188px;
}

#tutorial-overview::before {
    content: "";
    background-color: #323030;
    height: 147px;
    width: 103%;
    transform: rotate(-3.65deg);
    position: absolute;
    top: -54px;
    right: -14px;
    z-index: 0;
}

#tutorial-overview::after {
    content: "";
    background-color: #323030;
    height: 126px;
    width: 103%;
    transform: rotate(-3.65deg);
    position: absolute;
    bottom: -50px;
    left: -6px;
    z-index: -1;
}

#QA {
    padding: 106px 0;
}

#QA .QA_title {
    color: var(--primary-dark-color);
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 32px;
}

#QA .accordion-header.active {
    background-color: var(--primary-dark-color);
}

#QA .accordion-header.active .accordion-title,
#QA .accordion-header.active .accordion-arrow {
    color: var(--pure-white);
}

#QA .accordion-body.active {
    padding: 0 16px;
    font-size: 18px;
}

#QA .accordion-body:not(.active) {
    padding: 0;
}

/* End Tutorial Page */

@media screen and (max-width: 768px) {
    .hero-section {
        padding-bottom: 64px;
    }

    .tutorial-action-buttons {
        justify-content: center;
    }

    .button {
        font-size: 16px;
        padding: 4px 8px 4px 8px;
        border-radius: 8px;
    }

    .tutorial-attribute {
        border-radius: 16px;
        gap: 8px;
        padding: 8px;
    }

    .tutorial-attribute span {
        font-size: 16px;
    }

    .video-caption {
        font-size: 18px;
    }

    .tutorial-description {
        font-size: 18px;
    }

    .good-or-bad-box.first {
        margin-bottom: 32px;
    }

    .good-bad-section {
        margin-left: 16px;
        margin-right: 16px;
    }

    .tutorial-is-good-for,
    .tutorial-is-bad-for {
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        position: relative !important;
    }

    .tutorial-is-good-for,
    .tutorial-is-bad-for {
        width: 100%;
        height: 148px;
    }

    .tutorial-is-good-for p,
    .tutorial-is-bad-for p {
        max-width: 80%;
        margin: auto;
        font-size: 16px;
    }

    .tutorial-is-good-for-content,
    .tutorial-is-bad-for-content {
        width: 100% !important;
        margin-top: 16px;
        padding: 16px;
        font-size: 16px;
    }

    .tutorial-syllabus-title {
        margin-bottom: 16px;
    }

    .accordion {
        margin: 0;
    }

    .accordion-body li::before {
        position: unset;
        width: 15px;
        height: 15px;
    }

    .accordion-burger-icon {
        width: 16px;
    }

    .accordion-header {
        padding: 0px 8px;
        border-radius: 8px;
    }

    .accordion-header .accordion-arrow {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 24px;
        height: 24px;
    }

    .accordion-body {
        border-radius: 8px;
    }

    .accordion-body.active {
        padding: 0 8px;
    }

    .accordion-body li {
        margin-top: 8px;
    }

    .accordion-body li:last-child {
        margin-bottom: 8px;
    }

    .attribute-card {
        padding: 16px 8px;
        margin-bottom: 16px;
    }

    .tutorial-attributes {
        margin-bottom: 64px;
    }

    .attribute-card>.content {
        gap: 16px;
    }

    .tutorial-attribute-thumbnail {
        width: 100px;
    }

    .tutorial-attribute-title {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .tutorial-attribute-description {
        font-size: 16px;
    }

    .attribute-card:last-child {
        margin-top: 8px;
    }

    .tutorial-attributes::after {
        width: 103%;
    }

    #tutorial-tutor {
        flex-direction: column;
        padding: 32px 16px;
    }

    #tutorial-tutor h2 {
        font-size: 32px;
        text-align: center;
    }

    #tutorial-tutor p {
        font-size: 16px;
        text-align: center;
        margin-left: unset;
        padding: 0 16px;
    }

    #tutorial-overview::before {
        width: 104%;
    }

    .tutorial-tutor-button-group {
        justify-content: center;
    }

    .tutorial-tutor-button-group>button>svg {
        max-width: 16px;
    }

    #tutorial-overview {
        flex-direction: column;
        padding: 16px;
    }

    #tutorial-overview .tutorial-poster {
        z-index: 2;
    }

    .tutorial-overview-title {
        text-align: center;
        margin-bottom: 16px;
    }

    .tutorial-overview-description {
        font-size: 16px;
    }

    #tutorial-overview .attributes-wrapper {
        column-gap: 16px;
        flex-direction: column;
    }

    #tutorial-overview .attributes:last-child {
        margin-top: unset;
    }

    #tutorial-overview .attributes li {
        font-size: 16px;
    }

    #tutorial-overview .attributes li::before {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        top: 0px;
    }

    #tutorial-overview button {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        z-index: 2;
    }

    #tutorial-overview .arrow-down {
        height: 64px;
        margin-bottom: 32px;
    }

    #tutorial-overview button svg {
        width: 24px;
    }

    #QA {
        padding: 64px 0;
    }

    footer {
        padding: 16px;
    }
}

.form-signin {
    background-color: var(--dark-color);
    min-height: 100vh;
    min-width: 100vw;
}

.form-signin form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.login-form-title {
    margin-top: 128px;
    color: var(--primary-color);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 64px;
}

.login-input {
    padding: 8px 16px;
    color: #CFCFCF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    border-radius: 8px !important;
    border: unset;
    outline: 2px solid var(--white) !important;
    background-color: transparent;
    appearance: unset;
}
.form-signin button{
    margin-top: 32px;
    font-size: 20px;
}

.form-signin a{
    margin-top: 64px;
    text-align: right;
    align-self: flex-start;
}