* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #7C96F7;
    --primary-dark-color: #6C63FF;
    --secondary-color: #FFBA08;
    --secondary-light-color: #FEDB80;
    --dark-color: #121212;
    --semi-dark-color: #323230;
    --smoky-white-color: #f0f0f0;
    --white-color: #fafafa;
}

a {
    color: inherit !important;
    text-decoration: unset !important;
}

body {
    background-color: var(--dark-color) !important;
    direction: rtl !important;
    font-family: "Vazirmatn FD" !important;
}

header {
    padding: 32px 32px 0px 32px;
}

.d-inline-block {
    display: inline-block;
}

.row {
    flex-direction: row;
}

.float-left {
    float: left !important;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.breaker {
    background: var(--primary-dark-color);
    box-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    border-radius: 16px;
    width: 200px;
    height: 10px;
    margin-bottom: 48px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s background-color, border;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}

.button-sm {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    max-width: fit-content;
}

.button-primary {
    background: var(--primary-color) !important;
    color: var(--smoky-white-color) !important;
}

.button-outline-secondary {
    color: var(--smoky-white-color) !important;
    border: 1px solid var(--white-color);
}

.button-outline-dark {
    color: var(--dark-color);
    border: 1px solid var(--semi-dark-color);
    background-color: transparent;
    color: var(--white-color);
}

.button-primary:hover {
    background-color: var(--primary-dark-color) !important;
}

.my-text-primary {
    color: var(--primary-color) !important;
}

.my-text-orange {
    color: var(--secondary-color) !important;
}

.button-outline-primary {
    border: 2px solid var(--primary-color) !important;
}

.button-outline-primary:hover {
    border: 2px solid var(--primary-dark-color) !important;
    background-color: var(--primary-dark-color) !important;
}

.button-outline-secondary:hover {
    background-color: var(--white-color) !important;
    color: var(--dark-color) !important;
}

.icon:hover {
    color: var(--primary-dark-color);
}

.icon {
    padding: 8px;
    margin: 0px;
    font-size: 28px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.m-0 {
    margin: 0px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.p-relative {
    position: relative;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

header ul {
    list-style: none;
    color: #FAFAFA;
    margin: 0px;
}

.menu-account-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul ul {
    display: flex;
}

header ul>li {
    display: inline-block;
    margin-left: 32px;
    font-weight: 500;
    font-size: 26px;
    line-height: 41px;
}

header ul>li.active {
    color: var(--primary-color);
}

header ul ul li {
    display: inline-block;
    margin-left: 8px;
}

.circle {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 41px;
    top: 41px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--dark-color);
    padding-left: 1px;
    padding-top: 1px;
}

header ul li {
    transition: 0.3s color;
}

header ul.float-right>li:hover {
    color: var(--secondary-color);
}

main {
    overflow: hidden;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
}

main>section,
main>div {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.hero {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem !important;
}

.button-group {
    margin-top: 32px;
    column-gap: 16px;
}

.hero-details-section {
    max-width: min(50%, 800px);
}

.hero-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    text-align: right;
    color: var(--white-color);
}

.hero-title {
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 100px !important;
    text-align: right;
    color: var(--primary-dark-color);
    text-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    margin-bottom: 16px;
}

.hero-title span {
    color: var(--secondary-color)
}

.hero-description {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    text-align: right;
    color: var(--white-color);
}

img.profile {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
}

.my-bg-primary {
    background-color: var(--primary-color);
}

.bg-orange {
    background-color: var(--secondary-color);
}

.circle-sm {
    width: 52px;
    height: 52px;
}

.circle-md {
    width: 89px;
    height: 89px;
}

.rounded-circle {
    border-radius: 50%;
}

.profile-section {
    order: 2;
    position: relative;
    filter: drop-shadow(2px 4px 64px rgba(108, 99, 255, 0.32));
}

.profile-section div {
    position: absolute
}

.profile-section div.left-top {
    top: 30px;
    left: 90px;
    z-index: -1;
}

.profile-section div.right-top {
    top: 74px;
    right: 95px;
    z-index: -1;
}

.profile-section div.right-bottom {
    bottom: -15px;
    right: 95px;
    z-index: -1;
}

.arrow {
    width: 130px;
    height: 130px;
    position: relative;
    left: 100px;
    bottom: 32px;
    transform: rotate(156.62deg);
    margin-bottom: 64px;
}

.students {
    position: absolute !important;
    background-color: var(--white-color);
    width: 235.77px !important;
    height: 146px;
    padding: 22px;
    border-radius: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 57px;
    bottom: 64px;
}

.students p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 16px;
}

.students span {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-right: 16px;
}

.student-profiles {
    display: grid;
    grid-template-columns: repeat(5, 28px) !important;
}

.students .student-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}



.title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 75px;
    color: var(--white-color);
    text-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Skills */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skill-box {
    border-width: 8px 8px 16px 8px;
    border-style: solid;
    border-color: #323030;
    border-radius: 32px;
    height: 250px;
    background-color: var(--white-color);
    display: flex;
    padding: 43px 0px 43px 0px;
    aspect-ratio: 1/1;
}

.skills-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills-box>div {
    justify-content: center;
    align-items: center;
}

.skill-box .icon-box {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-light-color);
    border-radius: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box .icon-box img {
    width: 80px;
    height: 80px;
}

.skill-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--semi-dark-color);
}

.waves {
    position: absolute;
    right: 0px;
    bottom: -120px;
    z-index: -1;
}

/* Tutorials */
#tutorials {
    margin-top: 274px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tutorials-right,
.blog-right {
    max-width: min(50%, 800px);
    gap: 16px;
}

#tutorials .tutorials-section-description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: right;
    color: var(--white-color);
    margin-bottom: 24px;
}

.tutorial.card,
.blog.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    min-width: 322px;
    max-width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -8px rgba(50, 48, 48, 0.16);
    border-radius: 16px;
}

.tutorial .thumbnail,
.blog .thumbnail {
    border-radius: 8px;
    width: 100%;
    max-height: 290px;
}

.post-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--semi-dark-color);
    margin-top: 16px;
    margin-bottom: 16px;
}

.tutorial .post-meta,
.blog .post-meta {
    justify-content: space-between;
    width: 100%;
}

.tutorial .students-count,
.blog .students-count {
    color: #4d4d4f;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.tutorial .students-count i,
.blog .students-count i {
    margin-left: 4px;
}

#portfolios {
    margin-top: 8rem;
    position: relative;
}

#portfolios .button {
    z-index: 4;
    position: relative;
    max-width: fit-content;
    margin-top: 32px;
}

#portfolios img {
    width: 100%;
    border-radius: 8px;
    margin-top: 16px !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
    height: 400px;
}

.column img {
    background-color: var(--smoky-white-color);
    margin-top: 8px;
    vertical-align: middle;
    min-width: 100%;
    min-height: 200px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.portfolios-container {
    overflow: hidden;
    height: 500px;
}

.shadow-on-box {
    position: absolute;
    width: 1344px;
    height: 186px;
    left: 47px;
    bottom: -24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0 0 0) 100%);
    filter: blur(16px);
}

/* About */
#about {
    border: 8px solid var(--white-color);
    margin: 14rem 2rem;
    padding: 64px 10% !important;
    background: var(--primary-dark-color);
    box-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    color: var(--smoky-white-color);
    text-align: center;
    border-radius: 16px;
}

#about .profile-box {
    width: 306px;
    height: 306px;
    display: block;
    background: var(--primary-color);
    box-shadow: 2px 4px 64px rgba(108, 99, 255, 0.32);
    border-radius: 89px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-bottom: 55px;
}

#about h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 75px;
    margin-bottom: 42px;
}

#about p {
    max-width: 700px !important;
    margin-left: auto;
    margin-right: auto;
}

#about p,
a {
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 36px;
}

#about a {
    display: block;
    margin-top: 32px;
    padding-bottom: 8px;
    border-bottom: 2px dotted var(--primary-color);
    width: fit-content;
}

#blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blog .blog-section-description {
    color: var(--white-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 22px;
}

/* Contact */
#contact {
    margin-top: 8rem;
    margin-bottom: 2rem;
    border-radius: 16px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
    padding: 2rem;
}

#contact h2 {
    margin-bottom: 64px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input {
    font-weight: 700;
    font-family: inherit;
}

.background {
    display: flex;
}

.container {
    flex: 0 1 900px;
    margin: 4rem auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-right {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--white-color);
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--secondary-color);
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
    margin-bottom: 1rem;
}

.app-form-group.buttons {
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button:hover {
    color: var(--secondary-light-color);
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.contact-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--smoky-white-color);
    font-size: 1rem;
}

address {
    font-size: 0.85rem;
    font-style: normal;
}

.email-link {
    font-size: 0.85rem;
    color: #808080;
}

.send-icon {
    height: 20px;
    margin-left: 16px;
}

footer {
    text-align: center;
    color: var(--white-color);
}

footer h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 75px;
    margin-bottom: 16px;
}

footer p {
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 48px;
}

footer ul {
    list-style: none;
    margin-bottom: 117px;
}

footer ul li {
    font-weight: 400;
    font-size: 26px;
    line-height: 41px;
    display: inline-block;
    margin-left: 32px;
}

footer p.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 64px;
}

.container-404 {
    background-color: var(--dark-color);
    min-height: 90vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-404 h1 {
    margin-top: 48px;
    color: var(--light, #FAFAFA);
    text-align: center;
    font-size: 64px;
    font-weight: 900;
}

.container-404 p {
    margin-top: 16px;
    color: var(--light, #FAFAFA);
    text-align: center;
    font-size: 32px;
    font-weight: 300;
}

.container-404 .btn {
    margin-top: 32px;
}

.post-comments-list-wrapper {
    margin-top: 32px;
}

.post-card {
    margin-top: 96px;
}

.post-card-header {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--primary-color);
    padding: 16px;
}

.post-card-header h1 {
    color: var(--white-color);
    text-align: right;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 32px;
}

.post-card-header .post-tag {
    margin-left: 8px;
    border-radius: 8px;
    background-color: var(--secondary-light-color);
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-color);
    padding: 8px 16px;
    margin-bottom: 71px;
}

.post-card-body {
    color: var(--dark-color);
    text-align: right;
    font-size: 18px;
    line-height: 31px;
    padding: 16px;
    background-color: var(--white-color);
    margin-bottom: 194px;
    border-radius: 0px 0px 16px 16px;
}

.post-content {
    margin-bottom: 32px;
}

.post-comments {
    padding: 32px;
    border-radius: 16px;
    background: var(--primary-color);
}

.comment-form label {
    color: #FFF;
    text-align: right;
    font-size: 23px;
    font-weight: 300;
    line-height: 37px;
}

.comment-form input,
.comment-form textarea {
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    outline: 0px;
    padding: 8px 16px;
}

.comment-form input {
    min-height: 42px;
}

.comment-form textarea {
    min-height: 204px;
    width: 100%;
}

.comment-form button {
    display: inline-block;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--secondary-light-color);
    border: 0px;
    width: fit-content;
    margin-top: 16px;
    color: var(--dark-color);
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.comment-form input:active,
.comment-form textarea:active,
.comment-form input:focus,
.comment-form textarea:focus {
    outline: 4px solid var(--primary-dark-color)
}

.comment-form button:hover {
    background-color: var(--secondary-color);
}

.comments_list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.comment {
    transition: display 0.5s;
    max-width: 456px;
    min-width: 256px;
    background-color: var(--smoke_white);
    background-color: var(--white-color);
    box-shadow: 0px 4px 30px rgb(204 204 204 / 70%);
    border-radius: 10px;
    padding: 13px 20px;
    margin: 15px 25px 0px 25px;
    position: relative;
}

.user_avatar {
    width: 44px !important;
    height: 44px;
    border-radius: 50%;
}

.comment_title {
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: var(--dark80);
    max-width: none;
}

.comment_date {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: #DBDBDB;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: var(--white);
}

.comment_text p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-align: right;
    margin: revert;
}

.comments_list ul li:nth-child(even) {
    align-self: flex-end;
}

.reply {
    width: 456px;
    min-width: unset;
    margin: 0px;
}

aside .widget {
    box-shadow: 0px 4px 16px 0px rgba(75, 73, 73, 0.16);
    border-radius: 16px;
    background-color: var(--white-color);
    margin-bottom: 32px;
}

.widget-title {
    padding: 22px 15px;
    background-color: var(--primary-color);
    border-radius: 16px 16px 0px 0px;
    font-weight: bold;
    font-size: 27px;
    color: var(--white-color);
}

.widget-title h2 {
    margin-bottom: 0px;
}

.widget-body {
    padding: 15px !important;
}

ul.recent-blog-posts-widget li {
    margin-bottom: 16px;
}

.recent-blog-posts-widget img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    background-color: var(--primary-dark-color);
    margin-left: 8px;
}

.recent-blog-posts-widget h4 {
    color: #4B4949;
    text-align: right;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.widget .badge {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #DBDBDB;
    display: inline-block;
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
}

.widget-body ul {
    list-style: none;
    padding: 0px;
}

.widget-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.recent-comments-widget li {
    margin-bottom: 16px;
}

.recent-comments-widget .d-flex {
    gap: 8px !important;
}

.recent-comments-widget img {
    width: 50px;
    height: 50px;
    background-color: var(--primary-dark-color);
}

.recent-comments-widget p {
    width: 100%;
    color: #4B4949;
    text-align: right;
    font-size: 18px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0px;
}

/* Responsive Design */

/** 1. Samall Mobiles **/
@media screen and (max-width: 1000px) {
    .tutorials-section-description {
        text-align: center;
    }

    main>section,
    main>div {
        padding: 0px 8px 0px 8px !important;
    }

    header {
        display: none;
    }

    .button-group {
        justify-content: center;
    }

    .hero {
        margin-top: 0px !important;
    }

    .hero-details-section {
        max-width: 100%;
    }

    .profile-section {
        order: 0 !important;
        margin-bottom: 48px;
        padding-top: 64px;
    }

    .hero-title {
        font-size: 1.5rem;
        text-align: center;
        line-height: 32px !important;
    }

    .hero-subtitle {
        text-align: center;
        margin-bottom: 0px;
    }

    .hero-description {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .arrow {
        margin-top: 64px;
        width: 75px;
        height: 75px;
        left: 0px;
    }

    .circle-sm,
    .circle-md {
        display: none;
    }

    .title {
        font-size: 24px;
        margin: 32px 0px 0px 0px !important;
        line-height: 1.6;
    }

    .breaker {
        border-radius: 8px;
        width: 100px;
        height: 6px;
        margin-bottom: 32px;
    }

    .skill-box .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    .skill-box {
        height: fit-content;
        padding: 16px 0px 0px 0px;
    }

    .skill-box .icon-box img {
        width: 80%;
        height: 80%;
    }

    .skill-box p {
        font-size: 14px;
        line-height: 1.5;
    }

    .flex-column {
        padding: 0px;
    }

    .waves {
        width: 185px;
        right: -38px;
    }

    #tutorials {
        margin-top: 80px;
    }

    #tutorials .title {
        text-align: center;
    }

    #tutorials .breaker {
        margin: auto;
    }

    #tutorials .tutorials-section-description {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 16px;
        text-align: center;
    }

    .tutorials-left {
        text-align: center;
    }

    .tutorials-right {
        margin-top: 64px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .tutorial.card,
    .blog.card {
        padding: 8px;
        min-width: 250px;
        border-radius: 8px;
    }

    .tutorial .thumbnail,
    .blog .thumbnail {
        height: 200px;
        width: 100%;
        border-radius: 4px;
    }

    .tutorial .students-count,
    .blog .students-count {
        font-size: 12px;
        font-weight: 400;
    }

    .tutorial {
        margin-left: 8px !important;
    }

    .portfolios-container {
        overflow: initial;
    }

    .portfolios-container>div>a>img {
        margin-top: 8px;
    }

    #about {
        margin: 8rem 2rem;
        border-radius: 16px;
        padding: 32px 8px;
    }

    #about .profile-box {
        width: 150px;
        height: 150px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    #about h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 0px auto 16px auto !important;
        line-height: 1.5;
    }

    #about p,
    a {
        font-size: 14px;
        line-height: 1.5;
    }

    .blog-section-description {
        font-size: 18px !important;
        line-height: 1.5 !important;
    }

    #blog {
        text-align: center;
    }

    #blog .breaker {
        margin-left: auto;
        margin-right: auto;
    }

    #blog .blog-left>.btn {
        margin-bottom: 32px;
    }

    #contact {
        margin: 8rem 32px 64px 32px !important;
        padding: 0px !important;
        text-align: center;
    }

    #contact .title {
        margin-bottom: 32px !important;
    }

    .contact-info {
        padding: 0px;
    }

    footer h2 {
        font-size: 24px;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    footer p {
        font-size: 16px;
    }

    footer ul {
        margin-bottom: 64px !important;
    }

    footer ul li {
        font-size: 16px;
        margin-left: 16px;
    }

    footer .copyright {
        font-weight: 300 !important;
        font-size: 14px !important;
        margin-bottom: 16px !important;
    }
}

@media screen and (min-width:2560px) {
    .students {
        left: 470px;
        bottom: 120px;
    }
}

@media screen and (max-width: 480px) {
    #about {
        border-radius: 0px;
        margin: 8rem 0px !important;
        border: 0px !important;
    }

    .students {
        transform: scale(0.5);
        left: -20px;
        top: 150px;
        bottom: unset;
    }

    .container-404 img {
        width: 300px;
    }

    .container-404 h1 {
        font-weight: 500;
        font-size: 32px;
    }

    .container-404 p {
        font-size: 18px;
    }

    .container-404 .btn {
        margin-top: 16px !important;
        font-size: 16px !important;
        padding: 4px 8px !important;
    }
}